{% extends 'base.html.twig' %}

{% block breadcrumb %}
	{{parent()}}
    <li><a href="{{path('security_login')}}" class="active">Login</a></li>
{% endblock %}
{% block title %}
    Login
{% endblock %}
{% block body %}
	<h1>Login!</h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('security_register') }}">Register</a>
            {{ form_end(form) }}
 {% endblock %}
