{% extends 'base.html.twig' %}
{% block title %}
		{{film.name}}
{% endblock %}
{% block breadcrumb %}
		<li><a href="{{path('film_display', {slug: film.slug})}}" class="active">{{film.name}}</a></li>
{% endblock %}
{% block body %}
<div class="panel panel-primary">
		<div class="panel panel-default">
				<div class="panel-heading">
						<img class="img img-rounded" src="/{{film.image}}" alt="{{film.name}}">
						<h3 class="panel-title">{{film.name}}</h3>
				</div>
		<div class="panel-body">
				<div class="list-group">
						<button type="button" class="list-group-item">Description: {{film.description}}</button>
						<button type="button" class="list-group-item">Released At: {{film.releaseDate | date("F j, Y")}}</button>
						<button type="button" class="list-group-item">Rating: {{film.rating}}</button>
						<button type="button" class="list-group-item">Ticket Price: $ {{film.ticketPrice}}</button>
						<button type="button" class="list-group-item">Country: {{film.country.name}}</button>
						<button type="button" class="list-group-item">Genre: {{film.genre.name}}</button>
				</div>
				{% if film.comments %}
				<h3>Comments</h3>
				{% else %}
				<h3>No Comments</h3>
				{% endif %}
				{% for comments in film.comments %}
				<div class="panel panel-default">
					<div class="panel-heading">{{comments.name}}</div>
					<div class="panel-body">{{comments.comment}}</div>
				</div>
				{% endfor %}
			{% if app.user %}
				{{form_start(form)}}
				{{form_widget(form)}}
				<button action="submit", class="btn btn-primary"> Add comment
				</button>
				{{form_end(form)}}
			{% else %}
				<a href="{{path('security_login')}}" class="btn btn-primary" >
				Login to Comment
				</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
